﻿@model IEnumerable<FsWeb.Models.Guitar>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
</head>
<body>
    <div data-role="page" data-theme="a" id="guitarspage">
        <div data-role="header">
            <h1>Guitars</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview" data-filter="true" data-inset="true">
                @foreach (var x in Model) { 
                  <li><a href="#">@x.Name</a></li>
                }
                
            </ul>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js">
    </script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js">
    </script>
    <script>
        $(document).delegate("#guitarspage", 'pageshow', function (event) {
            $("div:jqmData(role='content')>ul").listview('refresh');
        });
    </script>
</body>
</html>
